$midnight: #1E2E3E;
$fiord: #4B5865;
$pigeon-post: #6F7984;
$grey-light: #BCC1C5;
$grey-light-2: #78828B;
$zircon: #E8EAEB;

$de-york: #8CDD8E;
$conifer: #A0C331;
$austra-mint: #D0E197;
$snow-flurry: #E3EDC1;

$tomato: #F45322;
$tonys-pink: #F9A990;

$jordy-blue: #80B1EB;
$hawkes-blue: #D1E3F7;

$supernova: #FFB93A;
$cherokee: #F9CE7F;
$khaki: #EFE688;
$ugly-yellow: #E0CD11;

$ghost-white: #F6F4F8;
$mischka: #B7BBC1;

$field-colors: (
    0: $conifer,
    1: $tomato,
    2: $jordy-blue,
    3: $supernova,
)